<div id="<%= dom_id author %>">
  <p class="text-white">
    <strong>Author Name:</strong>
    <%= author.description %>
  </p>

  <p class="text-white">
    <strong>Age:</strong>
    <span class="text-green"><%= author.age %>
  </p>

  <p class="text-white">
    <strong>Country:</strong>
    <span class="text-green"><%= author.country %>
  </p>

  <p class="text-white">
    <strong>Books:</strong>
    <ul>
      <% author.books.each do |book| %>
        <li class="text-red"><%= book.description %></li>
      <% end %>
    </ul>
  </p>

</div>
