<table class="table table-striped">
  <thead>
    <tr>
      <th>Description</th>
      <th>Age</th>
      <th>Country</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @authors.each do |author| %>
      <tr>
        <td><%= author.description %></td>
        <td><%= author.age %></td>
        <td><%= author.country %></td>
        <td>
          <%= link_to "Show", author, class: "btn btn-primary btn-sm" %>
          <%= link_to "Edit", edit_author_path(author), class: "btn btn-primary btn-sm" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>