<div class="lead text-white jumbotron">
  <h1 class="display-4"><%= t("hello")%></h1>
  <p class="lead"><%= t("intro_text")%></p>
  <hr class="my-4">
  <p><%= t("intro_select")%></p>
  <p class="lead">
    <%= link_to "New Book", new_book_path, class: "btn btn-primary btn-lg" %>
    <%= link_to "New Author", new_author_path, class: "btn btn-primary btn-lg" %>
  </p>
</div>
