<div id="<%= dom_id book %>">
  <p class="text-white">
    <strong>Book Name:</strong>
    <%= book.description %>
  </p>

  <p class="text-white">
    <strong>Year:</strong>
    <%= book.year %>
  </p>

  <p class="text-white">
    <strong>Pages:</strong>
    <%= book.pages %>
  </p>

  <p class="text-white">
    <strong>Author:</strong>
    <span class="text-red"><%= book.author.description %>
  </p>


</div>
